.movie-poster {
  width: 300px;
  height: auto;
}

.movie-title{
  font-size: 2rem;
}

.movie-description, .movie-director{
  font-size: 1rem;
}

#value-link{
  text-decoration: none;
  color: #dc3545;
}